@page
@model STS.Endpoints.RazorPages.Areas.Admin.Pages.Users.DetailsModel
@{
}

<div class="col-lg-12">
    <div class="portlet box shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    کاربران
                </h3>
            </div><!-- /.portlet-title -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">
            <div class="top-buttons-box mb-2">
            </div>
            <div class="row">
                <form enctype="multipart/form-data" role="form" method="post">
                    <input type="hidden" asp-for="UserModel.Id"></input>
                    <div class="form-body">
                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="UserModel.FirstName" class="form-control" type="text" placeholder="نام" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="UserModel.LastName" class="form-control" type="text" placeholder="نام خانوادگی" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="UserModel.PhoneNumber" class="form-control" type="text" placeholder="شماره موبایل" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="UserModel.Email" class="form-control" type="email" placeholder="آدرس ایمیل" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="UserModel.Address" class="form-control" type="text" placeholder="آدرس" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="UserModel.UserName" class="form-control" type="text" placeholder="نام کاربری" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="UserModel.Password" class="form-control" type="password" placeholder="کلمه عبور" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group">
                                    <input asp-for="UserModel.Role" class="form-control" type="password" placeholder="نقش" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <a asp-page="Index" class="btn btn-warning">
                            بازگشت
                        </a>
                    </div>
                </form>
            </div>
        </div><!-- /.portlet-body -->
    </div><!-- /.portlet -->
</div><!-- /.col-lg-12 -->