
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="/UserTemplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="/UserTemplate/css/all.min.css">
    <link rel="stylesheet" href="/UserTemplate/css/animate.css">
    <link rel="stylesheet" href="/UserTemplate/css/nice-select.css">
    <link rel="stylesheet" href="/UserTemplate/css/owl.min.css">
    <link rel="stylesheet" href="/UserTemplate/css/magnific-popup.css">
    <link rel="stylesheet" href="/UserTemplate/css/flaticon.css">
    <link rel="stylesheet" href="/UserTemplate/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/UserTemplate/css/main.css">
    <link rel="stylesheet" href="/UserTemplate/JalaliCalender/jalalidatepicker.min_2.css">

    <link rel="shortcut icon" href="/UserTemplate/images/favicon.png" type="image/x-icon">
</head>

<body>
        @RenderBody()
</body>